<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shantikama.yogini">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.StartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PracticeActivity"
            android:label="1½ hour practice"
            android:parentActivityName=".ui.StartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.AsanaListActivity"
            android:label="@string/title_asana_list"
            android:parentActivityName=".ui.PracticeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shantikama.yogini.ui.PracticeActivity" />
        </activity>
        <activity
            android:name=".ui.AsanaDetailActivity"
            android:label="@string/title_asana_detail"
            android:parentActivityName=".ui.AsanaListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shantikama.yogini.ui.AsanaListActivity" />
        </activity>
    </application>

</manifest>